<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .qty {
            width: 40px;
            height: 40px;
            text-align: center;
        }

        input.qtyplus {
            width: 40px;
            height: 40px;
        }

        input.qtyminus {
            width: 40px;
            height: 40px;
        }
    </style>
</head>
<body>
{% if current_user.is_authenticated %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a href="/my_order" class="navbar-brand">我的订单</a>

                <p class="navbar-text navbar-left">
                    欢迎！{{ current_user.username }}，<a href="/login_out">退出</a>
                </p>
            </div>
        </nav>
        {% if error_msg %}
            <div class="alert alert-warning">
                {{ error_msg }}
            </div>
        {% endif %}
        <form action="/order" method="post">
            <div class="form-group">
                <label>联系方式:</label>
                <input type="text" class="form-control" required name="phone" placeholder="手机号或者微信号">
            </div>
            <div class="form-group">
                <label>地址:</label>
                <input type="text" class="form-control" required name="address" placeholder="宿舍楼或者实验室">
            </div>
            <div class="form-group">
                <label>选择包装类型（满10元优惠2元）：</label>

                <div class="row">
                    <div class="col-sm-2"><h4>6 元包装</h4></div>

                    <div class="col-sm-5">
                        <img class="img-thumbnail" src="/static/img/img-5.jpg">
                    </div>
                    <div class="col-sm-5" style="margin-top: 30px;">
                        <input type='button' value='-' class='qtyminus' field='quantity1'/>
                        <input type='text' name='quantity1' data-price="6" value='0' class='qty'/>
                        <input type='button' value='+' class='qtyplus' field='quantity1'/>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-sm-2"><h4>7 元包装</h4></div>
                    <div class="col-sm-5">
                        <img class="img-thumbnail" src="/static/img/img-6.jpg">
                    </div>
                    <div class="col-sm-4" style="margin-top: 10px;">
                        <input type='button' value='-' class='qtyminus' field='quantity2'/>
                        <input type='text' data-price="7" name='quantity2' value='0' class='qty'/>
                        <input type='button' value='+' class='qtyplus' field='quantity2'/>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-sm-2"><h4>8 元包装</h4></div>
                    <div class="col-sm-5">
                        <img class="img-thumbnail" src="/static/img/img-8.jpg">
                    </div>
                    <div class="col-sm-4" style="margin-top: 10px;">
                        <input type='button' value='-' class='qtyminus' field='quantity3'/>
                        <input type='text' data-price="8" name='quantity3' value='0' class='qty'/>
                        <input type='button' value='+' class='qtyplus' field='quantity3'/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>合计:</label>
                <br/>
                <span class="pull-right" style="margin-bottom: 20px;">
                    <input class="qty" readonly id="price" value="0">
                </span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
            <div style="margin-bottom: 20px;">
            </div>
        </form>
    </div>
{% endif %}
</body>
<script>
    jQuery(document).ready(function () {
        var is_flag = false;
        // This button will increment the value
        $('.qtyplus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('field');
            // Get its current value
            var currentVal = parseInt($('input[name=' + fieldName + ']').val());
            // If is not undefined
            if (!isNaN(currentVal)) {
                // Increment
                $('input[name=' + fieldName + ']').val(currentVal + 1);
            } else {
                // Otherwise put a 0 there
                $('input[name=' + fieldName + ']').val(0);
            }

            var all_price = parseInt($('#price').val());
            var cc = parseInt($('input[name=' + fieldName + ']'));
            var cur = parseInt($('input[name=' + fieldName + ']').attr('data-price'));

            var total = all_price + cur;
            if (total >= 10  && !is_flag) {
                total -= 2;
                is_flag = true;
            }
            $('#price').val(total);

        });
        // This button will decrement the value till 0
        $(".qtyminus").click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('field');
            // Get its current value
            var currentVal = parseInt($('input[name=' + fieldName + ']').val());

            var all_price = parseInt($('#price').val());
            if (currentVal != 0) {
                var cur = parseInt($('input[name=' + fieldName + ']').attr('data-price'));
                var total = all_price - cur;
                if (total < 10  && is_flag) {
                    total += 2;
                    is_flag = false;
                }
                $('#price').val(total);
            }
            // If it isn't undefined or its greater than 0
            if (!isNaN(currentVal) && currentVal > 0) {
                // Decrement one
                $('input[name=' + fieldName + ']').val(currentVal - 1);
            } else {
                // Otherwise put a 0 there
                $('input[name=' + fieldName + ']').val(0);
            }
        });
    });
</script>
</html>
